fastapi
uvicorn
sqlalchemy
pymysql
passlib[bcrypt]
python-jose
transformers
torch
safetensors
python-multipart
pydantic[email]
PyJWT
scikit-learn
pandas
matplotlib
bcrypt
python-dotenv
pytest
httpx
git-filter-repo